<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    
    <!-- The maximum number of concurrent streaming connections that an account can have open on the server at one time. -->
    <add key="HangingConnectionLimit" value="10" />
    <!-- Defines the number of concurrent open connections that a specific user can have against an Exchange server that is using EWS at one time. -->
    <add key="EWSMaxConcurrency" value="27" />

    <!-- The Office 365 server URL: -->
    <add key="AutoDiscoveryUrl" value="https://autodiscover-s.outlook.com/autodiscover/autodiscover.svc" />
    <!-- Number of users allowed in GetUsersSettings. -->
    <add key="UsersPerUsersSettins" value="90" />
    
    <!-- Default request timeout in minutes. -->
    <add key="RequestTimeout" value="2" />
    <!-- Exchange connection limit -->
    <add key="ExchangeConnectionLimit" value="255"/>
    <!-- Recycle period in minutes of Exchange listener. -->
    <add key="ExchangeListenerRecyclePeriod" value="30"/>

    <add key="ExceptionStackTrace" value="true" />
  </appSettings>
 
  <connectionStrings>
    <add name="EWSQueueEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\EWSQueue.mdf;integrated security=True;application name=Bnhp.Office365.EwsService;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.net>
    <settings>
      <performanceCounters enabled="true" />
    </settings>
    <connectionManagement>
      <add address = "*" maxconnection = "100" />
    </connectionManagement>
  </system.net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <clear/>
        <add name="TraceToDatabase" type="Bnhp.Office365.DatabaseTraceListener, Bnhp.Office365.EwsService" initializeData="Info"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>
    <!--<extensions>
      <bindingExtensions>
        <add name="runitTransportBinding" type="Bnhp.RunitChanel.RunitTransportBindingCollectionElement, Bnhp.RunitChanel"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <runitTransportBinding>
        <binding name="EwsService"/>
      </runitTransportBinding>
    </bindings>-->
    <services>
      <service name="Bnhp.Office365.EwsService">
        <!-- Runit binding. -->
        <!--<endpoint address="runit:"
          binding="runitTransportBinding"
          bindingNamespace="https://www.bankhapoalim.co.il/"
          bindingConfiguration="EwsService"
          contract="Bnhp.Office365.IEwsService"/>-->

        <!-- Use a bindingNamespace to eliminate tempuri.org -->
        <endpoint address=""
                  binding ="basicHttpBinding"
                  bindingNamespace="https://www.bankhapoalim.co.il/"
                  contract="Bnhp.Office365.IEwsService"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" 
                               multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
