<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- A service account user e-mail: -->
    <add key="ExchangeUserName" value="" />
    <!-- The service account user's password: -->
    <add key="ExchangePassword" value="" />
    <!-- The Office 365 server URL: -->
    <!-- 
    <add key="ExchangeUrl" value="https://outlook.office365.com/EWS/Exchange.asmx" />
     -->
    <add key="ExceptionStackTrace" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="EWSQueue" connectionString="Application Name='Bnhp.Office365.Appointments'; Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|EWSQueue.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  <add name="EWSQueueEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\EWSQueue.mdf;integrated security=True;application name=Bnhp.Office365.Appointments;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <system.diagnostics>
    <switches>
      <!--
        0 - disable tracing;
        1 - error messages only;
        2 - error messages and warnings only;
        3 - detailed information including dumps;
        4 - debug info including dumps and XMLs.
     -->
      <add name="BnhpOffice365AppointmentsTrace" value="4" />
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="BnhpOffice365AppointmentsToConsole" type="System.Diagnostics.ConsoleTraceListener" />
        <!--
        <add name="BnhpOffice365AppointmentsToDatabase" 
             type="Bphx.Tracers.DatabaseTraceListener, Bnhp.Office365.Appointments" 
             initializeData="Info"/>
        <add name="BnhpOffice365AppointmentsToEventLog" 
             type="Bphx.Tracers.EventLogTraceListener, Bnhp.Office365.Appointments" 
             initializeData="Error"/>
        -->
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <!--<extensions>
      <behaviorExtensions>
        <add name="jsonWebHttp" 
             type="Bphx.Tracers.JsonWebHttpElement, Bnhp.Office365.Appointments" />
      </behaviorExtensions>
    </extensions>-->
    <behaviors>
      <!--<endpointBehaviors>
        <behavior>
          <jsonWebHttp />
        </behavior>
      </endpointBehaviors>-->
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
