<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>ענן מיילר</title>
 <link rel="icon" href="Images/email.ico" type="image/x-icon" />
 <link rel="stylesheet" href="Styles/custom-bootstrap.css" type="text/css" />
 <link rel="stylesheet" href="Styles/select.min.css" type="text/css" />
 <link rel="stylesheet" href="Styles/editor.css" type="text/css" />
 <link rel="stylesheet" href="Styles/default.css" type="text/css" />
   
 <style type="text/css">.ng-cloak { display: none; }</style>
 <script data-main="Scripts/main" src="Scripts/require.js"></script>
</head>
<body ng-controller="MailerController as mailer">
  <div class="centered">
    <form name="form" class="css-form" novalidate autocomplete="off">
      <table class="rtl message ng-cloak">
        <tr>
          <th>מאת:</th>
          <td colspan="2">
            <ui-select ng-model="mailer.from" style="width: 100%">
              <ui-select-match placeholder="משתמש מחובר">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="sender in mailer.senders"
                                 refresh="mailer.refreshData($select.search)"
                                 refresh-delay="200">
                <div style="font-weight: bold">{{sender.name}}</div>
                <small>
                  דואר"א: {{sender.email}}<br />
                </small>
              </ui-select-choices>
            </ui-select>
          </td>
        </tr>
        <tr>
          <th style="vertical-align: top">אל:</th>
          <td>
            <div class="recipients">
              <div ng-repeat="address in mailer.to">
                {{address.name}} &lt;{{address.email}}&gt;
              </div>
            </div>
          </td>
          <td style="vertical-align: top; width: 5em;">
            <button type="button" class="btn btn-primary" ng-click="mailer.getRecipients()">בחר</button>
          </td>
        </tr>
        <tr>
          <th>נושא:</th>
          <td colspan="2">
            <input type="text" ng-model="mailer.subject" class="subject form-control" name="subject" required />
            <span ng-show="form.$submitted && form.subject.$error.required" class="errorMsg"><b>נושא</b> הוא שדה חובה</span>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="3" class="editorContainer">
            <wysiwyg-edit content="mailer.message" api="mailer" config="mailer.editorConfig"></wysiwyg-edit>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2" class="attachments">קבצים מצורפים:</td>
          <td>
            <a upload-link
              class="btn btn-primary"
              accept=".*"
              ng-disabled="mailer.waiting"
              on-success="mailer.upload(data, file)"
              on-error="mailer.errorHandler(e)">קובץ מצורף חדש</a>
          </td>
        </tr>
        <tr ng-repeat="attachment in mailer.attachments track by $index">
          <td colspan="3" class="attachment">
            <a href="#" ng-click="mailer.remove(attachment)" class="remove_icon" title="להסיר הקובץ המצורף"></a>
            <span>{{attachment.name}} ({{mailer.convertSize(attachment.size)}})</span>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"><hr /></td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: left;">
            <button type="button" class="btn btn-primary" ng-click="mailer.send()">שלח</button>&nbsp;
            <button type="button" class="btn btn-primary" ng-click="mailer.clean()">נקה</button>
          </td>
        </tr>
      </table>
      <div ng-show="form.$submitted && mailer.working || mailer.starting" class="inProgress"></div>
    </form>
  </div>
</body>
</html>

