<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>ענן מיילר</title>
 <link rel="icon" href="Images/email.ico" type="image/x-icon" />
 <link rel="stylesheet" href="Styles/custom-bootstrap.css" type="text/css" />
 <!--<link rel="stylesheet" href="Styles/css/font-awesome.min.css" type="text/css" />
 <link rel="stylesheet" href="Styles/textAngular.css" type="text/css" />-->
 <link rel="stylesheet" href="Styles/select.min.css" type="text/css" />
 <link rel="stylesheet" href="Styles/editor.css" type="text/css" />
 <link rel="stylesheet" href="Styles/default.css" type="text/css" />
   
 <style type="text/css">.ng-cloak { display: none; }</style>
 <script data-main="Scripts/main" src="Scripts/require.js"></script>
</head>
<body ng-controller="MailerController as mailer">
  <wysiwyg-edit class="centered">
    <form name="form" class="css-form" novalidate>
      <table class="rtl message ng-cloak">
        <!--<tr>
          <td colspan="3" class="title">ענן מיילר</td>
        </tr>
        <tr>
          <td colspan="3">&nbsp;</td>
        </tr>-->
        <tr>
          <th>מאת:</th>
          <td colspan="2">
            <ui-select multiple ng-model="mailer.from" tagging="mailer.tagTransform" style="width: 100%">
              <ui-select-match placeholder="משתמש מחובר">{{mailer.formatItem($item)}}</ui-select-match>
              <ui-select-choices repeat="sender in mailer.senders"
                                 refresh="mailer.refreshSenders($select.search)"
                                 refresh-delay="200">
                <div style="font-weight: bold" ng-bind="sender.name"></div>
                <small>
                  דואר"א: {{sender.email}}<br />
                </small>
              </ui-select-choices>
            </ui-select>
        </td>
        </tr>
        <tr>
          <th>אל:</th>
          <td>
            <ui-select multiple ng-model="mailer.to" tagging="mailer.tagTransform" style="width: 100%">
              <ui-select-match placeholder="בחר נמען...">{{mailer.formatItem($item)}}</ui-select-match>
              <ui-select-choices repeat="address in mailer.addresses"
                                 refresh="mailer.refreshAddresses($select.search)"
                                 refresh-delay="200">
                <div style="font-weight: bold" ng-bind="address.name"></div>
                <small ng-if="address.id">
                  ת.ז: {{address.id}}<br />
                  דואר"א: {{address.email}}<br />
                </small>
                <small ng-if="!address.id">
                  <span ng-if="mailer.getRole(address)" style="display: block">תפקיד: <span ng-bind="mailer.getRole(address)"></span></span>
                  <span ng-if="mailer.getDivision(address)" style="display: block">יחידה ארגוני: <span ng-bind="mailer.getDivision(address)"></span></span>
                </small>
              </ui-select-choices>
            </ui-select>
            <span ng-show="form.$submitted && !mailer.to.length" class="errorMsg">שדה <b>אל</b> הוא שדה חובה</span>
          </td>
          <td>
            <span upload-link
                  class="btn btn-primary"
                  accept=".txt"
                  ng-disabled="mailer.waiting"
                  server-url="api/Mailer/UploadIdentities"
                  on-success="mailer.add(data, mailer.to)">רשימת ת.ז</span>
          </td>
        </tr>
        <tr>
          <th>עותק:</th>
          <td>
            <ui-select multiple ng-model="mailer.cc" tagging="mailer.tagTransform" style="width: 100%">
              <ui-select-match placeholder="בחר נמען...">{{mailer.formatItem($item)}}</ui-select-match>
              <ui-select-choices repeat="address in mailer.addresses"
                                 refresh="mailer.refreshAddresses($select.search)"
                                 refresh-delay="200">
                <div style="font-weight: bold" ng-bind="address.name"></div>
                <small ng-if="address.id">
                  ת.ז: {{address.id}}<br />
                  דואר"א: {{address.email}}<br />
                </small>
                <small ng-if="!address.id">
                  <span ng-if="mailer.getRole(address)" style="display: block">תפקיד: <span ng-bind="mailer.getRole(address)"></span></span>
                  <span ng-if="mailer.getDivision(address)" style="display: block">יחידה ארגוני: <span ng-bind="mailer.getDivision(address)"></span></span>
                </small>
              </ui-select-choices>
            </ui-select>
          </td>
          <td>
            <span upload-link
                  class="btn btn-primary"
                  accept=".txt"
                  ng-disabled="mailer.waiting"
                  server-url="api/Mailer/UploadIdentities"
                  on-success="mailer.add(data, mailer.cc)">רשימת ת.ז</span>
          </td>
        </tr>
        <tr>
          <th>עותק סמוי:</th>
          <td>
            <ui-select multiple ng-model="mailer.bcc" tagging="mailer.tagTransform" style="width: 100%">
              <ui-select-match placeholder="בחר נמען...">{{mailer.formatItem($item)}}</ui-select-match>
              <ui-select-choices repeat="address in mailer.addresses"
                                 refresh="mailer.refreshAddresses($select.search)"
                                 refresh-delay="200">
                <div style="font-weight: bold" ng-bind="address.name"></div>
                <small ng-if="address.id">
                  ת.ז: {{address.id}}<br />
                  דואר"א: {{address.email}}<br />
                </small>
                <small ng-if="!address.id">
                  <span ng-if="mailer.getRole(address)" style="display: block">תפקיד: <span ng-bind="mailer.getRole(address)"></span></span>
                  <span ng-if="mailer.getDivision(address)" style="display: block">יחידה ארגוני: <span ng-bind="mailer.getDivision(address)"></span></span>
                </small>
              </ui-select-choices>
            </ui-select>
          </td>
          <td>
            <span upload-link
                  class="btn btn-primary"
                  accept=".txt"
                  ng-disabled="mailer.waiting"
                  server-url="api/Mailer/UploadIdentities"
                  on-success="mailer.add(data, mailer.bcc)">רשימת ת.ז</span>
          </td>
        </tr>
        <tr>
          <th>נושא:</th>
          <td colspan="2">
            <input type="text" ng-model="mailer.subject" class="subject form-control" name="subject" required />
            <span ng-show="form.$submitted && form.subject.$error.required" class="errorMsg"><b>נושא</b> הוא שדה חובה</span>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"></td>
        </tr>
        <!--<tr>
          <td colspan="3">
            TODO: toolbar
          </td>
        </tr>-->
        <tr>
          <td colspan="3" class="editor container">
            <wysiwyg-edit content="mailer.message" api="mailer"></wysiwyg-edit>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2" class="attachments">קבצים מצורפים:</td>
          <td>
            <span upload-link
                  class="btn btn-primary"
                  accept=".*"
                  ng-disabled="mailer.waiting"
                  on-success="mailer.upload(data, file)">קובץ מצורף חדש</span>
          </td>
        </tr>
        <tr ng-repeat="attachment in mailer.attachments track by $index">
          <td colspan="3" class="attachment">
            <a href="#" ng-click="mailer.remove(attachment)" class="remove_icon" title="להסיר הקובץ המצורף"></a>
            <span>{{attachment.name}} ({{attachment.size}} בייתים)</span>
          </td>
        </tr>
        <tr class="separator">
          <td colspan="3"><hr /></td>
        </tr>
        <tr>
          <td colspan="3" style="text-align: left;">
            <button type="button" class="btn btn-primary" ng-click="mailer.send()">שלח</button>&nbsp;
            <button type="button" class="btn btn-primary" ng-click="mailer.clean()">נקה</button>
          </td>
        </tr>
      </table>
      <div ng-show="form.$submitted && mailer.working" class="inProgress"></div>
    </form>
  </div>
</body>
</html>

