<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>בחר "אל"</title>
  <link type="text/css" rel="stylesheet" href="../../../Styles/default.css" />
</head>
<body>
  <div class="modal-header">
     <h3 class="modal-title info" style="vertical-align: top; text-align: right; direction: rtl"> 
       בחר רשימת הנמענים:
       <button class="btn btn-danger left" ng-click="cancel()">x</button>
     </h3>
  </div>
  <div class="modal-body">
    <div ng-show="waiting" style="vertical-align: middle; text-align: center; width: 100%; height: 100%;">
      <span class="indicator"></span>
    </div>
    <div class="rtl" ng-show="!waiting">
      <span class="label">תפקיד ויחידה ארגונית:</span>
      <input type="text" ng-model="filter" placeholder="בחר תפקיד ויחידה ארגונית" 
             typeahead="recipient for recipient in getRecipients($viewValue)" 
             typeahead-loading="loadingRecipients" 
             typeahead-no-results="noResults" 
             class="form-control">
      <i ng-show="loadingRecipients" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> אין נתונים
      </div>

      <table class="rtl">
        <tr>
            <th>
                <input type="checkbox" ng-click="toggleAll($viewValue)" />
            </th>
            <th>שם</th>
            <th>אי-מייל</th>
            <th>תפקיד</th>
            <th>סניף</th>
        </tr>
        <tr ng-repeat="recipient in recipients">
          <td>
              <input type="checkbox" ng-model="recipient.selected"/>
          </td>
          <td>{{recipient.name}}</td>
          <td>{{recipient.eMail}}</td>
          <td>{{recipient.role}}</td>
          <td>{{recipient.branch}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <div class="left">
      <span class="vertical-divider"></span>
      <button class="btn btn-primary" ng-click="ok()" ng-disabled="waiting">בחר</button>
      <button class="btn btn-primary" ng-click="cancel()">בטל</button>
    </div>
  </div>
</body>
</html>