<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="emailHandlers"
      type="Bnhp.Office365.Configuration.HandlersConfigurationSection, EMailHandlers" />
  </configSections>

  <emailHandlers>
    <add action="save body" type="Bnhp.Office365.SaveBodyHandler, EMailHandlers"/>
    <add action="save attachments" type="Bnhp.Office365.SaveAttachmentsHandler, EMailHandlers"/>
    <add action="move to" type="Bnhp.Office365.MoveToHandler, EMailHandlers"/>
    <add action="print" type="Bnhp.Office365.PrintHandler, EMailHandlers"/>
    <!-- add custom handlers here -->
  </emailHandlers>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEwsService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54401/EwsService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IEwsService" contract="References.IEwsService"
          name="BasicHttpBinding_IEwsService" />
    </client>
  </system.serviceModel>
</configuration>