<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="emailHandlers"
      type="Bnhp.Office365.Configuration.HandlersConfigurationSection, RulesEngine" />
  </configSections>

  <appSettings>
    <!-- space separated system names (group names): -->
    <add key="SystemNames" value="RulesEngineTest" />
  
    <!-- a wait period in secs. -->
    <add key="WaitPeriod" value="30" />

    <!-- The service mode: "wcf" or "service", the default value is "service". -->
    <add key="Mode" value="service" />
  </appSettings>
    
  <emailHandlers>
    <handlers>
      <add action="save body" handler="Bnhp.Office365.SaveBodyHandler, RulesEngine"/>
      <add action="save attachments" handler="Bnhp.Office365.SaveAttachmentsHandler, RulesEngine"/>
      <add action="move to" handler="Bnhp.Office365.MoveToHandler, RulesEngine"/>
      <add action="print" handler="Bnhp.Office365.PrintHandler, RulesEngine"/>
      <!-- add custom handlers here -->
    </handlers>
  </emailHandlers>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Bnhp.Office365.WcfRulesEngine">
        <endpoint address="" binding="basicHttpBinding" contract="Bnhp.Office365.IWcfRulesEngine"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WcfRulesEngine/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEwsService"/>          
        <binding name="BasicHttpBinding_IRulesService" />
        <binding name="LargeWeb"
          maxBufferPoolSize="10000000"
          maxReceivedMessageSize="10000000"
          maxBufferSize="10000000">
          <readerQuotas
                maxArrayLength="656000"
                maxBytesPerRead="656000"
                maxDepth="32"
                maxNameTableCharCount="656000"
                maxStringContentLength="656000"
                />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54401/EwsService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="LargeWeb"
                contract="EwsServiceReference.IEwsService"
                name="BasicHttpBinding_IEwsService" />
      <endpoint address="http://localhost:54401/RulesService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRulesService"
                contract="RulesServiceReference.IRulesService"
                name="BasicHttpBinding_IRulesService" />
    </client>
  </system.serviceModel>
</configuration>